body{
    background-color: #F5F5F5;
}


.main-div{
   
    display: flex;
    height: 720px;
    width: 1280px;
    margin-left: 8%;
    box-shadow: 0px 5px 5px  gray;
    background-color: #F7FCFD;
   
}
.side-div{
    /* border: 1px solid gray; */
    width: 55px;
    height: 719px;
    background-color:  #FFFFFF;
    box-shadow: 0px 0px 1px  gray;
    display: flex;
    position: sticky;
    z-index: 1100;
    top: 0;
    left: auto; 
    
}
.data-1{
    width: 100%;
 
    background-color: white;

    border-radius: 3px;
}
.nav-bar{
    display: flex;
    width: 1225px;
    height: 48px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px  gray;
    position: sticky;
    z-index: 1100;
    top: 0;
    justify-content: space-between;
    left: auto; 
}

#pot-1{
    color: #b7b7b7;
    margin-top: 10px;
    margin-left: 60px;
    font-size: medium;
}
  

#span-1{
    color: black;
    font-size: medium;
   margin-left: 10px;

}

#img-1{
    /* position: absolute; */
    margin-left:46%;
    height: 15vh;
    margin-top: 10%;
    
  
}
#p-2{
   
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: 27px;

}
#p-3{
    text-align: center;
    font-size: 13px;
    color: #605e5e
  
}
#span-3{
   margin-left: 9px;
   color: #605e5e;
}
.btn-1{
    text-align: center;
    position: relative;
    
}
.addout-1{
 color: white;
}

.library-icon{
    position: absolute;
    left: 2%;
    color: rgba(0, 0, 0, 0.452);
}

.cube-icon{
    position: absolute;
    box-shadow:  0px 0px 1px  ;

    border-radius: 2px;
    font-size: 23px;
    top: 3%;
    margin-left: 16px;
}
.pie-chart{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 13%;
    margin-left: 16px;
    border-radius: 2px;
    
}
.shopping-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 19%;
    margin-left: 16px;
    border-radius: 2px;
    

}
.bulb-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 25%;
    margin-left: 16px;
    border-radius: 2px;

}
.ticket-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 31%;
    margin-left: 16px;
    border-radius: 2px;

}
.group-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 37%;
    margin-left: 16px;
    border-radius: 2px;

}
.batch-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 43%;
    margin-left: 16px;
    border-radius: 2px;

}
.build-sharp{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 49%;
    margin-left: 16px;
    border-radius: 2px;

}
.question-icon{
    /* box-shadow:  0px 0px 1px  ;   */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 74%;
    margin-left: 16px;
    border-radius: 2px;

}
.Riline-icon{
    box-shadow:  0px 0px 1px  ;
    background-color: #e0dede;
    font-size: 23px;
    position: absolute;
    top: 80%;
    margin-left: 16px;
    border-radius: 2px;
}
.RiSetting-icon{
    /* box-shadow:  0px 0px 1px  ; */
    /* background-color: #e0dede; */
    font-size: 23px;
    position: absolute;
    top: 86%;
    margin-left: 16px;
    border-radius: 2px;

}
.steering-icon{
    /* box-shadow:  0px 0px 1px  ; */
    /* background-color: #e0dede; */
    font-size: 23px;
    position: absolute;
    top: 92%;
    margin-left: 16px;
    border-radius: 2px;
}