body{
    background-color: #F5F5F5;
}
.container{
    margin-top: 10px;
}

.main-div{
   
    display: flex;
    height: 720px;
    width: 1280px;
    margin-left: 1%;
    box-shadow: 0px 5px 5px  gray;
    background-color: #F7FCFD;
   
}
.side-div{
    /* border: 1px solid gray; */
    width: 55px;
    height: 719px;
    background-color:  #FFFFFF;
    box-shadow: 0px 0px 1px  gray;
    display: flex;
    position: sticky;
    z-index: 1100;
    top: 0;
    /* justify-content: space-between; */
    left: auto; 
    
}
.data-1{
    width: 1225px;
    height: 579px;
    background-color: white;

    border-radius: 3px;
}
.nav-bar{
    display: flex;
    width: 1225px;
    height: 48px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px  gray;
    position: sticky;
    z-index: 1100;
    top: 0;
    justify-content: space-between;
    left: auto; 
}

#pot-1{
    color: #b7b7b7;
    margin-top: 10px;
    margin-left: 19px;
}
  

#span-1{
    color: black;
}

#img-1{
    /* position: absolute; */
    margin-left:46%;
    height: 15vh;
    margin-top: 10%;
    
  
}
#p-2{
   
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: 27px;

}
#p-3{
    text-align: center;
    font-size: 13px;
    color: #605e5e
  
}
#span-3{
   margin-left: 17px;
   color: #605e5e;
}
.btn-1{
    text-align: center;
    position: relative;
}
.addout-1{
 color: white;
}
#span-4{
    /* position: absolute;
    left: 96%;
    bottom: 10px; */
    color: rgba(86, 86, 86, 0.836);
    
}
.library-icon{
    position: absolute;
    left: 2%;
    color: rgba(0, 0, 0, 0.452);
}

.cube-icon{
    position: absolute;
    box-shadow:  0px 0px 1px  ;
    background-color: #e0dede;
    border-radius: 2px;
    top: 4%;
    margin-left: 16px;
}
.pie-chart{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 13%;
    margin-left: 16px;
    border-radius: 2px;
    
}
.shopping-icon{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 19%;
    margin-left: 16px;
    border-radius: 2px;
    

}
.bulb-icon{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 25%;
    margin-left: 16px;
    border-radius: 2px;

}
.ticket-icon{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 31%;
    margin-left: 16px;
    border-radius: 2px;

}
.group-icon{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 37%;
    margin-left: 16px;
    border-radius: 2px;

}
.batch-icon{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 43%;
    margin-left: 16px;
    border-radius: 2px;

}
.build-sharp{
    box-shadow:  0px 0px 1px  ;
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 49%;
    margin-left: 16px;
    border-radius: 2px;

}