body{
    background-color: #F5F5F5;
}
@media (max-width: 768px) {
    .img-1 {
        height: 8vh;
        /* border: solid; */
     
    }
  }
  
  @media (max-width: 480px) {
    .img-1 {
        /* border: solid; */
        height: 10vh;
    }
  }
  .img-1{
    /* position: absolute;  */
    /* display: flex; */
    margin-left:45%;
    margin-top: 10%;
    /* border: solid; */
    
  
}

.main-div{
   
    display: flex;
    height: 720px;
    width: 1280px;
    margin-left: 8%;
    box-shadow: 0px 5px 5px  gray;
    background-color: #F7FCFD;
   
}
.side-div{
    /* border: 1px solid gray; */
    width: 55px;
    height: 719px;
    background-color:  #FFFFFF;
    box-shadow: 0px 0px 1px  gray;
    display: flex;
    position: sticky;
    z-index: 1100;
    top: 0;
    left: auto; 
    
}
.data-1{
    width: 1227;
    height: 579px;
    background-color: white;
    border-radius: 3px;
    
}
.nav-bar{
    display: flex;
    width: 1225px;
    height: 48px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px  gray;
    position: sticky;
    z-index: 1100;
    top: 0;
    justify-content: space-between;
    left: auto; 
}

#pot-1{
    color: #b7b7b7;
    margin-top: 15px;
    margin-left: 60px;
    font-size: 12px;
    font-weight: 400;
}
  

#span-1{
    color: black;
   margin-left: 10px;
   font-size: 12px;
   font-weight: 400;
}


#p-2{
   
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 27px;

}
#p-3{
    text-align: center;
    font-size: 10px;
    color: #605e5e
  
}
#span-3{
   margin-left: 9px;
   color: #605e5e;
}
.btn-1{
    text-align: center;
    position: relative;

    
}
.addout-1{
 color: white;
 cursor: pointer;
}

.library-icon{
    position: absolute;
    left: 2%;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.452);
    cursor: pointer;
}

.cube-icon{
    position: absolute;
    box-shadow:  0px 0px 1px  ;

    border-radius: 2px;
    font-size: 23px;
    top: 3%;
    margin-left: 16px;
    cursor: pointer;
}
.pie-chart{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 13%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;
    
}
.shopping-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 19%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;
    

}
.bulb-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 25%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.ticket-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 31%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.group-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 37%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.batch-icon{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 43%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.build-sharp{
    /* box-shadow:  0px 0px 1px  ; */
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 49%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.question-icon{
    background-color:white;
    font-size: 23px;
    position: absolute;
    top: 74%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.Riline-icon{
    box-shadow:  0px 0px 1px  ;
    background-color: #e0dede;
    font-size: 23px;
    position: absolute;
    top: 80%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;
}
.RiSetting-icon{

    font-size: 23px;
    position: absolute;
    top: 86%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;

}
.steering-icon{ 
    font-size: 23px;
    position: absolute;
    top: 92%;
    margin-left: 16px;
    border-radius: 2px;
    cursor: pointer;
}



 