button {
    height: 32px;
    width: 153px;
    border-radius: 4px;
    border: 0;
    font-family: 'Poppins';
}

button:active {
    border-style: outset;
}

.primary {
    background-color: #00BAD2;
    border-color: #00BAD2;
    color: aliceblue;
}

.secondary {
    border-color: #00BAD2;
    color: #00BAD2;
    outline: 1px;
    border: solid 1px #00BAD2;
}